.newbie_zx_main {
  width: 100%;
  height: 100%;
  background: #FBFBFB;
  position: relative; }
  .newbie_zx_main section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; }
    .newbie_zx_main section .scroller {
      padding-bottom: .5rem; }
  .newbie_zx_main button {
    width: 90%;
    height: .85rem;
    background: #FC5B3E;
    border-radius: .1rem;
    color: #fff;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: 1.38rem;
    display: block; }

.newBox {
  height: 5.15rem;
  background: #FC5B3E;
  position: relative; }
  .newBox h2 {
    color: #fff;
    font-size: .57rem;
    text-align: center;
    padding-top: .9rem; }
  .newBox h3 {
    color: #fff;
    font-size: .26rem;
    text-align: center;
    padding-top: .42rem; }
  .newBox .dls {
    width: 100%;
    display: -webkit-flex;
    margin-top: 1rem; }
    .newBox .dls div {
      -webkit-flex: 1 0;
      height: .86rem;
      color: #fff;
      text-align: center;
      font-size: .24rem; }
      .newBox .dls div p {
        padding-bottom: .14rem; }
  .newBox .yellow {
    width: 100%;
    height: .63rem;
    background: #F9B42A;
    position: absolute;
    bottom: 0;
    left: 0; }
    .newBox .yellow p {
      text-align: center;
      line-height: .63rem;
      color: #FC5B3E;
      font-size: .24rem; }

.newbie_zx_nav {
  width: 100%;
  height: 1.84rem;
  border-bottom: 1px solid #ccc;
  display: -webkit-flex; }
  .newbie_zx_nav dl {
    -webkit-flex: 1 0; }
    .newbie_zx_nav dl dt {
      width: .75rem;
      height: .75rem;
      margin: 0 auto;
      margin-top: .28rem;
      margin-bottom: .2rem; }
      .newbie_zx_nav dl dt img {
        width: 100%;
        height: 100%; }
    .newbie_zx_nav dl dd {
      text-align: center;
      color: #333;
      font-size: .26rem; }

.uls {
  width: 100%; }
  .uls li {
    width: 100%;
    height: .97rem;
    border-bottom: 1px solid #ccc;
    line-height: .97rem; }
    .uls li div {
      width: 90%;
      margin: 0 auto;
      display: -webkit-flex;
      position: relative; }
      .uls li div span {
        -webkit-flex: 1 0;
        color: #666;
        font-size: .24rem; }
        .uls li div span:nth-of-type(1) {
          text-align: left; }
        .uls li div span:nth-of-type(2) {
          text-align: right; }
      .uls li div i {
        color: #333;
        font-size: .26rem;
        font-style: normal; }
      .uls li div em {
        width: .18rem;
        height: .3rem;
        background: url(../img/right.gif) no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0; }
