.newbie_main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .newbie_main section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
    .newbie_main section .scroller {
      padding-bottom: .6rem; }

.newbie_Banner {
  height: 3.3rem; }
  .newbie_Banner img {
    width: 100%;
    height: 100%;
    display: block; }

.newbie_nav {
  height: 2.88rem;
  border-bottom: .02rem solid #71C527;
  display: -webkit-flex; }
  .newbie_nav dl {
    -webkit-flex: 1 0; }
    .newbie_nav dl dt {
      width: 1.58rem;
      height: 1.58rem;
      margin: 0 auto;
      margin-top: .4rem;
      margin-bottom: .3rem; }
      .newbie_nav dl dt img {
        width: 100%;
        height: 100%;
        display: block; }
    .newbie_nav dl dd {
      text-align: center;
      color: #333;
      font-size: .24rem; }

.newDieJh div {
  width: 100%;
  position: relative;
  margin-top: .34rem; }
.newDieJh h5 {
  color: #989898;
  font-size: .2rem;
  text-align: center; }
.newDieJh h3 {
  color: #891C21;
  font-size: .34rem;
  text-align: center;
  line-height: 1rem; }
.newDieJh h1 {
  color: #F5990A;
  font-size: 1.35rem;
  text-align: center;
  line-height: 2.14rem; }
.newDieJh p {
  width: 6.38rem;
  height: 1rem;
  border: 1px solid #F39801;
  border-radius: .5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1rem;
  font-size: .33rem;
  color: #F39801; }
.newDieJh span {
  width: .21rem;
  height: .25rem;
  display: inline-block;
  margin-right: .1rem; }
  .newDieJh span img {
    width: 100%;
    height: 100%;
    margin-top: .04rem;
    display: block; }
